
/* Variables
-----------------------------------------------------------------*/


$primary_light: #14e6cd;
$primary: #00b39a;
$primary_dark: #008076;

$white_light: #F5F7F8;
$white: #FFFFFF;
$white_dark: #d9d9d9;


$black_light: #404040;
$black: #262626;
$black_dark: #120b0c;

$main_color: $primary;
$main_color2: #f08f74;
$main_color3: #55e6a5;

$body_color: $black;
$sub_bg: $white_light;
$main_bg: $white;

$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;
